.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #7451f8;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.fLists {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.flist {
  flex-basis: 30%;
  margin-bottom: 20px;
}

.fListItem {
  cursor: pointer;
  margin-bottom: 10px;
  list-style: none;
}

.pFromFooter {
  color:rgb(19, 10, 195);
  font-size: 24px;
  margin-bottom: 10px;
  padding-top: 9px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .flist {
    flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  .flist {
    flex-basis: 100%;
  }
}
