


.datatable {
  background-color: #f5f5f5;
  color: #333333;
  
}

.MuiDataGrid-root .MuiDataGrid-columnHeader, 
.MuiDataGrid-root .MuiDataGrid-cell {
  border-color: #d9d9d9;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader {
  background-color: #512da8;
  color: #ffffff;
  font-weight: bold;
}

.MuiDataGrid-root .MuiDataGrid-row:nth-of-type(even) {
  background-color: #f9f9f9;
}

.MuiDataGrid-rowSelected {
  background-color: #512da8;
  color: #ffffff;
}

.MuiDataGrid-cellEditable {
  background-color: #ffffff;
}

.MuiCheckbox-root {
  color: #512da8;
}

.MuiPagination-root {
  margin-top: 10px;
}

.MuiPaginationItem-root.Mui-selected {
  background-color: #512da8;
  color: #ffffff;
}

.MuiBox-root {
  margin-top: 20px;
}